:root {
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-crust: #11111b;
}

* {
  color: var(--ctp-mocha-text);
  font-family: "JetBrainsMono NFP";
}

.yasb-bar {
  background-color: var(--ctp-mocha-crust);
  border-bottom: 1px solid var(--ctp-mocha-surface0);
}

.widget {
  background-color: var(--ctp-mocha-base);
  margin: 8px 4px;
  border-radius: 4px;
  border: 1px solid var(--ctp-mocha-surface0);
}

.widget .icon {
  color: var(--ctp-mocha-mauve);
  font-size: 16px;
  min-width: 32px;
  max-width: 32px;
}

.widget .label {
  padding-right: 8px;
  font-size: 12px;
  font-weight: bold;
}

.home-widget {
  margin-left: 16px;
}

.home-widget .icon {
  color: var(--ctp-mocha-text);
}

.home-menu {
  background-color: var(--ctp-mocha-crust);
}

.home-menu .menu-item {
  font-family: "Segoe UI";
  margin: 8px;
  padding: 8px 64px 8px 8px;
  border-radius: 4px;
}

.home-menu .menu-item:hover {
  background-color: var(--ctp-mocha-base);
}

.calendar {
  background-color: var(--ctp-mocha-crust);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  font-family: "Segoe UI";
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: var(--ctp-mocha-mauve);
  background-color: var(--ctp-mocha-base);
  border-radius: 4px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label {
  color: var(--ctp-mocha-mauve);
  min-width: 160px;
  max-width: 160px;
  font-weight: bold;
}

.calendar .date-label {
  font-size: 80px;
  padding: 4px 0;
}

.audio-menu {
  background-color: var(--ctp-mocha-crust);
}

.audio-container .device {
  font-family: "Segoe UI";
  padding: 8px 16px;
  margin: 4px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-mauve);
}

.audio-container .device:hover {
  background-color: var(--ctp-mocha-base);
}

.audio-menu .system-volume-container {
  margin: 8px 4px;
  padding: 0;
}

.audio-menu .system-volume-container .volume-slider::groove {
  background-color: var(--ctp-mocha-surface0);
  height: 4px;
}

.audio-menu .system-volume-container .volume-slider::groove:hover {
  height: 6px;
}

.audio-menu .system-volume-container .volume-slider::sub-page {
  background-color: var(--ctp-mocha-mauve);
}

.quick-launch-popup .container {
  background-color: var(--ctp-mocha-crust);
}

.quick-launch-popup .search {
  padding: 12px 16px;
}

.quick-launch-popup .search .search-icon {
  font-family: "Segoe Fluent Icons";
  color: var(--ctp-mocha-mauve);
  font-size: 16px;
  padding-right: 8px;
}

.quick-launch-popup .search .search-submit-icon {
  font-family: "Segoe Fluent Icons";
  color: var(--ctp-mocha-mauve);
  font-size: 16px;
}

.quick-launch-popup .search .search-input {
  font-family: "Segoe UI";
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 4px 0;
}

.quick-launch-popup .search .prefix {
  font-family: "Segoe UI";
  background-color: var(--ctp-mocha-mauve);
  color: var(--ctp-mocha-crust);
  border-radius: 6px;
  padding: 0 8px;
  margin-right: 8px;
  font-size: 16px;
}

.quick-launch-popup .results {
  background-color: transparent;
  padding: 8px;
}

.quick-launch-popup .results-list-view {
  font-family: "Segoe UI";
  font-size: 16px;
}

.quick-launch-popup .results-list-view .description {
  font-family: "Segoe UI";
  font-size: 12px;
  color: var(--ctp-mocha-overlay2);
}

.quick-launch-popup .results-list-view::item {
  padding: 12px;
  border-radius: 8px;
}

.quick-launch-popup .results-list-view::item:hover,
.quick-launch-popup .results-list-view::item:selected {
  background-color: var(--ctp-mocha-base);
}

.quick-launch-popup .results-empty-text {
  color: transparent;
}

.glazewm-tiling-direction {
  min-width: 8px;
}

.glazewm-tiling-direction .btn {
  border: none;
  outline: none;
  font-size: 24px;
  min-width: 32px;
  max-width: 32px;
}

.glazewm-workspaces {
  padding: 12px 4px;
  width: 32px;
}

.glazewm-workspaces .ws-btn {
  border-radius: 2px;
  padding: 0 2px;
  margin: 0 4px;
  color: transparent;
}

.glazewm-workspaces .ws-btn.populated {
  background-color: var(--ctp-mocha-text);
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
  background-color: var(--ctp-mocha-mauve);
  padding: 0 6px;
}

.media-widget .label {
  padding: 0 64px;
}

.media-widget .progress-bar {
  max-height: 2px;
  background-color: transparent;
  border: none;
}

.media-widget .progress-bar::chunk {
  background-color: var(--ctp-mocha-mauve);
}

.media-menu {
  background-color: var(--ctp-mocha-crust);
  max-width: 640px;
}

.media-menu .title,
.media-menu .artist,
.media-menu .playback-time {
  font-family: "Segoe UI";
}

.media-menu .title,
.media-menu .artist {
  font-size: 16px;
  padding-left: 12px;
}

.media-menu .title {
  padding-bottom: 8px;
}

.media-menu .artist {
  color: var(--ctp-mocha-mauve);
}

.media-menu .btn {
  background-color: var(--ctp-mocha-base);
  border-radius: 8px;
  font-size: 24px;
  min-width: 64px;
  max-width: 64px;
  margin-left: 12px;
}

.media-menu .btn:hover {
  background-color: var(--ctp-mocha-surface0);
  color: var(--ctp-mocha-mauve);
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--ctp-mocha-surface0);
  background-color: transparent;
}

.media-menu .playback-time {
  margin-top: 12px;
}

.media-menu .progress-slider::groove {
  background-color: var(--ctp-mocha-surface0);
  height: 4px;
}

.media-menu .progress-slider::groove:hover {
  height: 6px;
}

.media-menu .progress-slider::sub-page {
  background-color: var(--ctp-mocha-mauve);
}

.glazewm-binding-mode .icon {
  color: var(--ctp-mocha-text);
}

.notification-widget .icon {
  color: var(--ctp-mocha-text);
}

.power-menu-widget {
  margin-right: 16px;
}

.power-menu-widget .label {
  border-radius: 8px;
  min-width: 32px;
  max-width: 32px;
  font-size: 16px;
  padding: 0;
}

.power-menu-popup {
  background-color: var(--ctp-mocha-crust);
  border: 2px solid var(--ctp-mocha-surface0);
  border-radius: 8px;
  padding: 24px;
}

.power-menu-popup .button {
  background-color: var(--ctp-mocha-base);
  border: 2px solid var(--ctp-mocha-surface0);
  padding: 32px;
  margin: 8px;
  width: 96px;
  height: 96px;
  border-radius: 8px;
}

.power-menu-popup .button.hover {
  background-color: var(--ctp-mocha-surface0);
  border: 2px solid var(--ctp-mocha-mauve);
}

.power-menu-popup .button .icon {
  font-size: 48px;
  margin-top: 32px;
}

.power-menu-popup .button .label {
  font-family: "Segoe UI";
  font-size: 16px;
  margin-bottom: 32px;
}

.power-menu-popup .button.cancel .icon,
.power-menu-popup .button.cancel .label {
  color: var(--ctp-mocha-mauve);
}

.power-menu-popup .profile-info {
  font-family: "Segoe UI";
  padding: 0 0 24px 0;
  border-bottom: 2px solid var(--ctp-mocha-surface0);
  background-color: transparent;
  margin-bottom: 24px;
}

.power-menu-popup .profile-info .profile-username {
  font-family: "Segoe UI";
  font-size: 24px;
  padding-top: 12px;
}

.power-menu-popup .profile-info .profile-account-type {
  font-family: "Segoe UI";
  font-size: 16px;
  color: var(--ctp-mocha-mauve);
  margin: 4px 0;
}

.power-menu-popup .profile-info .profile-email {
  font-family: "Segoe UI";
  font-size: 16px;
}

.uptime {
  font-family: "Segoe UI";
  margin-bottom: 24px;
}
